<main class="container">
    <form class="registerform"  >
      <mat-form-field appearance="fill" class="formregister" minlength="14" maxlength="14" required>
          <mat-label>Adresse Email</mat-label>
          <input matInput [(ngModel)] = "societe.email" [ngModelOptions]="{standalone: true}">
          <small [ngClass]="invalid === true ? 'display': 'none'">numero de siret ou mot de passe invalide</small>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="formregister" >
          <mat-label >Mot de passe</mat-label >
          <input matInput [(ngModel)] = "societe.password" [ngModelOptions]="{standalone: true}" type ="password">
          
        </mat-form-field>
        <button (click)="login(societe)" class="submitsiret" >connexion</button>
    </form>
</main>
