<p class="bandeau">Experts certifiés et basés en France</p>
<header>
        
        <!--<p class="ordreEC">Ordre des experts comptables</p>-->
        <div class="experts">
            <img src="/assets/img/logo.png" alt="logo experts comptables" class="logoEC">
            <p class="orange">Experts certifiés et basés en France</p>
            <img src="/assets/img/france.png" alt="drapeau France" class="flag">
        </div>
        <a href="#"><img class="logoanimé" src="/assets/img/benefitb.png" alt="logo animé"></a>
        <nav>
            <div class="menucartouche"><a class="navmenu" [routerLink]="['/tarifs']">Tarifs</a></div>
            <div class="menucartouche"><a class="navmenu"  [routerLink]="['/solutions']">Solutions</a></div>
            <div class="menucartouche"><a class="navmenu" [routerLink]="['/fonctions']">Fonctionnalitées</a></div>
            <div class="menucartouche"><a class="navmenu" [routerLink]="['/rgpd']">A propos</a></div>
        </nav>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mmenu mmenubutton">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <a href="#" class="mlogin">Connexion</a>
            </button>
            <button mat-menu-item>
                <a href="#" class="mlogin">Inscription</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/tarifs']">Tarifs</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/solutions']">Solutions</a>
            </button>
            <button mat-menu-item >
                <a [routerLink]="['/fonctions']">Fonctionnalitées</a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['/rgpd']">A propos</a>
            </button>
          </mat-menu>
          
        <div class ="rdv">
            <mat-icon>calendar_today</mat-icon>
            <a [routerLink]="['/rdv']">Prenez RDV</a>
        </div>
       <a href="tel:+0478679725" class="linkphone"><button class="telbutton"><img src="/assets/img/phone-call.png" alt="appel telephonique"><span class="numtelephone">04 78 67 97 25</span></button></a>
       <div class="login">
        <a [routerLink]="['/login']" *ngIf="((logincom.token === undefined)||(logincom.token === ''))">Connexion</a>
        <a [routerLink]="['/espace']" *ngIf="((logincom.token !== undefined)&&(logincom.token !== ''))">Espace client</a>
        <a [routerLink]="['/register']">Inscription</a>
       </div>
</header>
<div class = "cookiecontainer" *ngIf="cookie">
    <div class = "cookie">
        <p class="avertissement">En poursuivant votre navigation sur ce site, vous acceptez notre politique de données et l’utilisation de cookies nécessaires à l’utilisation du site et à l’amélioration de votre expérience. Veuillez prendre connaissance de notre politique de confidentialité <a [routerLink]="['/rgpd']">ici</a></p>
        <div class="buttoncontainer" *ngIf="!choice">
            <button class="submitsiret cookiebutton" (click) = "acceptAll()">Tout accepter</button>
            <button class="submitsiret cookiebutton" (click) = "refuseAll()">Tout refuser</button>
            <button class="submitsiret cookiebutton" (click) = "choose()">Choisir</button>
        </div>
        <div *ngIf="choice" class="cookieschoice">
            <mat-checkbox type="checkbox" name="analytics" id="analytics" [(ngModel)]="analytics2" class="cookielabel">Google analytics</mat-checkbox>
            <mat-checkbox type="checkbox" name="connexion" id="connexion" [(ngModel)]="connexion" class="cookielabel">Connexion</mat-checkbox>
            <mat-checkbox type="checkbox" name="fonctionnement" id="fonctionnement" disabled = "true" class="cookielabel" [checked] = "true">cookies assurant le bon fonctionnement du site</mat-checkbox>
            <button class="submitsiret cookiebutton" (click) = "changeCookies()">Accepter</button>
        </div>
        
    </div>
</div>
<aside class="cookiemenu">
    <mat-icon class="cookiemenuicon" (click) = "cookieToggle()">build   
    </mat-icon>
</aside>
<router-outlet></router-outlet>


