<main class="container">
  <form class="registerform"  #registerform2 = "ngForm" name="form2" >
    <mat-form-field appearance="fill" class="formregister"  >
        <mat-label>Adresse Email</mat-label>
        <input matInput [(ngModel)] = "admin.email" name="email" required>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="formregister" >
        <mat-label >Mot de passe</mat-label >
        <input matInput [(ngModel)] = "admin.password" required type ="password" name="password">
        
      </mat-form-field>
      <button (click)="loginAdmin(admin)" class="submitsiret" >connexion</button>
  </form>
</main>
