<main class="maincontainer">
    <section class="donneesclient">
        <form class="registerform"  >
            <mat-form-field appearance="fill" class="formprofil" minlength="14" maxlength="14" required>
                <mat-label>Nom</mat-label>
                <input matInput [(ngModel)] = "admin.nom" [ngModelOptions]="{standalone: true}" readonly ="true">
              </mat-form-field>
              <mat-form-field appearance="fill" class="formprofil" >
                <mat-label >Prenom</mat-label >
                <input matInput [(ngModel)] = "admin.prenom" [ngModelOptions]="{standalone: true}" readonly="true">
              </mat-form-field>
              <mat-form-field appearance="fill" class="formprofil" >
                <mat-label>Adresse email</mat-label>
                <input matInput [(ngModel)] = "admin.email" [ngModelOptions]="{standalone: true}" readonly="true">
              </mat-form-field>
              <mat-form-field appearance="fill" class="formprofil" >
                <mat-label>Telephone</mat-label>
                <input matInput [(ngModel)] = "admin.telephone" [ngModelOptions]="{standalone: true}" readonly="true">
              </mat-form-field>
        </form>
    </section>
</main>
