
    
@font-face 
    font-family: "Roboto-Medium"
    src: url("/assets/fonts/Roboto-Medium.ttf")
@font-face 
    font-family: "Pacifico-Regular"
    src: url("/assets/fonts/Pacifico-Regular.ttf")
$orange: #ea5B0c
$blue: #26348b

@import '~bootstrap/dist/css/bootstrap.min.css'

h1
    font-size: 60px 

.orange
    color: $orange
    
.blue
    color: $blue
a
    text-decoration: none
    color: $blue
    
body
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: "Roboto-Medium"
    font-size: 16px
    overflow-x: hidden
button
    cursor: pointer
//header//
.bandeau
    display: none
header
    height: 17vh
    position: sticky
    top: 0
    width: 100%
    background: url("/assets/img/logosans.png")
    background-color: white
    background-repeat: no-repeat
    background-position: center
    z-index: 15
    border-bottom: 1px solid $blue
.logoanimé
    position: relative
    top: 17%
    left: 40%
    animation-name: rotation
    animation-duration: 2s
    animation-iteration-count: 1
    animation-timing-function: linear
    transform-style: preserve-3d
@keyframes rotation
    0%
        transform: rotate3D(0,1,0,0deg)
    100%
        transform: rotate3D(0,1,0, 360deg)
.ordreEC
    display: inline
    position: absolute
    top: 0%
    left: 0%
    color: white
    font-size: 0.97rem
    font-family: "Pacifico-Regular"
.logoEC
    display: inline-block
    width: 35%
    height: 16%
.experts
    position: absolute
    display: flex
    gap: 3px
    left: 0%
    top: 0%
.flag
    width: 16px
    height: 16px
nav
    width: 40%
    display: flex
    justify-content: space-around
    color: $blue
    position: relative
    top: 4vh
.mmenu
    display: none
.rdv
    display: flex
    position: absolute
    gap: 10px
    right: 2%
    top: 0%
.telbutton
    display: flex
    background-color: white
    border: 1px solid $blue
    border-radius: 20px
    padding: 0.4vw
    align-items: center
    position: absolute
    width: 8vw
    justify-content: space-evenly
    cursor: pointer
.call
    font-size: 16px
    align-self: flex-end
    position: relative
    top: 0%
.linkphone
    cursor: pointer
    position: absolute
    top: 63%
    left:75%
.login
    color: $orange
    display: flex
    gap: 30px
    position: absolute
    top: 68%
    left: 86%
//header1738max//

//register//
.container
    display: flex
    flex-direction: column
    width: 100%
    height: 83vh
    background-color: white
    position: relative
    top: 25vh
    align-items: center
    z-index: 0
    position: relative
.formregister
    width: 33%
    z-index: 0
    position: relative
.file-input //on cache le veritable uploader de fichiers car il est trop difficile a styliser//
    display: none
.submitsiret
    border-radius: 25px
    border: 1px solid $blue
    width: 10%
    height: 5%
    background-color: white
    color: $blue
.upload-btn
    background-color: white
    border: 1px solid $blue
    border-radius: 10px
.registerform
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: 100%
    width: 80%
    border: 3px solid $blue
    border-radius: 20px
    box-shadow: 0px -5px 5px $blue
    position: relative
    z-index: 2
    background-color: white
.display
    display: block
    opacity: 1
    color: red

.none
    display: none 
    opacity: 0
    transition: all 1s
.green
    color: green
.red
    color: red

//espace client//
.pagenumber
    position: relative
    top: 27%
    left: 0%
.documentscontainer
    border: 1px solid $blue
    width: 50%
    display: inline-block
.maincontainer
    width:100%
    height: 87vh
    position: relative
    top: 13vh
    display: flex
.donneesclient
    width: 50%
    height:100%
    display: inline-block
.documentsclient
    width: 50%
    height: 50%
.formprofil
    width:80%
    color: $blue
.facture
    display: block
    position: relative
    margin-left: 30px
    margin-right: 30px
.factureform
    width: 50%
.facbutton
    display: flex
    justify-content: space-evenly
    width: 100%
table, th, td 
    border: 1px solid black
    text-align: center
.creerfacture
    margin-top: 15px
.decobutton
    position: absolute
    top: -3%
    left: 86%
    cursor: pointer
.clientform
    position: relative
    top: -25%
    height: 170%
.facturant
    display: inline-flex
    flex-direction: column
    align-items: flex-start
    margin-top: 30px
.facturated
    display: inline-flex
    flex-direction: column
    align-items: flex-end
    position: relative
    float: right
    margin-top: 118px
.factureheader
    border: 1px solid $blue
.facdoc
    display: inline-flex
    height: 100vh
    width: 20vw
    flex-direction: column
    position: relative
    top: -68%
    justify-content: space-evenly
.factures
    display: inline-flex
    flex-direction: column
    height: 35%
    width: 100%
    border: 3px solid $blue
    color: $blue
    border-radius: 20px
    box-shadow: 10px -5px 5px $blue
    text-align: center
    transition: all 0.3s
.documents
    display: inline-flex
    flex-direction: column
    height: 35%
    width: 100%
    border: 3px solid $blue
    color: $blue
    border-radius: 20px
    box-shadow: 10px -5px 5px $blue
    text-align: center
    transition: all 0.3s
.facturesdiv
    overflow-y: auto
.facdocfont
    font-size: 20px
    transition: all 0.3s
.facdocfont:hover
    font-size: 22px
mat-icon 
    cursor: pointer
.logo
    width: 125px
    height: 125px
.societe
    display: block
.file-upload
    color: $blue
    text-align: center
.sidenavbutton
    position: relative
    left: 88%
    top: 41%
.menubutton
    background-color: white
    color: $blue
    border: 1px solid $blue
    border-radius: 20px
.facturecontainer
    width: 100%
    height: 130vh
    position: relative
    top: -16%
    padding: 10%
    border: 3px solid $blue

#facture
    width: 100%
    margin-top: 50px 
.facturesecond
    width: 80%
    margin-top: 50px
    position: absolute
mat-accordion
    width: 80%
.avancemenu
    flex-direction: column
    align-items: center
    position: absolute
    z-index: 1
    background-color: white
    top: 134%
    left: 0%
    transition: all 0.5s
    opacity: 0
    display: flex
    width: 50%
    
.avancemenutoggle
    transform: translate(100%)
    opacity: 1
    
    

.facturediv 
    height: 55vh  
    position: relative 
    
#total
    margin-top: 50px
    float: right
    top: 14vh
    position: relative
    width: 100%
.totalheader
    border: 1px solid $blue
.factureform
    position: relative
    top: 5%
    width: 100%
    height: 130vh
textarea 
    resize: none
.renseignements
    position: relative
    top: 0%
.espacefooter
    position: absolute
    top: 286% 
.profilform
    height: 120vh 
    width: 100%
//cookies//
.cookie
    width: 75%
    height: 100%
    background: linear-gradient(white,90%,$blue)
    border: 3px solid $blue
    overflow-y: hidden
    border-radius: 20px
    
.cookiecontainer
    display: flex
    justify-content: center
    width: 100%
    height: 20%
    position: fixed
    bottom: 10%
    background-color: transparent
    z-index: 999
    color: $orange
    
.containercharte
    width: 75%
    position: relative
    left: 12.5%
.buttoncontainer
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 80%
.cookiebutton
    height: 5vh
.titrergpd
    text-align: center
    padding: 30px
.cookiemenu
    position: fixed
    z-index: 999
    width: 50px
    height: 50px
    background-color: $orange
    border-radius: 50%
    top: 91%
    left: 0%
    cursor: pointer
.cookiemenuicon
    position: relative
    top: 21%
    left: 24%
    color: white
.cookieschoice
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 80%
.cookielabel
    color: $blue
/*Admin*/
.adminclient
    width: 95%
    height: 200%
    display: flex
    flex-direction: column
    border-radius: 20px
    border: 3px solid $blue
    box-shadow: 10px -5px 5px $blue
.adminform
    width: 100%
    box-shadow: 0px -5px 5px $blue
.clientlist
    width: 100%
    height: 50%
    border-radius: 20px
    border: 1px solid $blue
    overflow-y: auto
    display: flex
    flex-direction: column
    justify-content: flex-start
.client
    width: 50%
    height: 50%
.clientsbutton
    border-radius: 20px
    background-color: white
    border: 1px solid $blue
    cursor: pointer
.clientsbutton:hover
    background-color: $blue
    color: white
.clientdetails
    height: 50%
    background-color: white
    display: flex
    flex-direction: column
/*home*/
.slider
    background: white
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125)
    height: 100px
    margin: auto
    overflow: hidden
    position: relative
    width: 1920px
.slide-track 
    animation: scroll 80s linear infinite
    display: flex
    width: calc(250px * 28)	
.slide 
    height: 100px
    width: 250px

@keyframes scroll 
    0%
        transform: translateX(0)
    100% 
        transform: translateX(calc(-250px * 14))
.slider::before,.slider::after 
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
    content: ""
    height: 100px
    position: absolute
    width: 100px
    z-index: 2
	
	
.slider::after 
    right: 0%
    top: 0%
    transform: rotateZ(180deg)
	

.slider::before 
    left: 0%
    top: 0%

.imgdroite
    
    display: inline-block
    width: 50%
    height: 100vh
    background: linear-gradient(to right,white 5%, transparent ), url(/assets/img/photo1.jpg)
    background-repeat: no-repeat
    background-size: contain
.imgdroite2
    display: inline-block
    width: 50%
    height: 100vh
    background: linear-gradient(to right,white 5%, transparent ), url(/assets/img/photo2.jpg)
    background-repeat: no-repeat
    background-size: contain
.imgdroite3
    display: inline-block
    width: 50%
    height: 100vh
    background: linear-gradient(to right,white 5%, transparent ), url(/assets/img/photo3.jpg)
    background-repeat: no-repeat
    background-size: contain
    
.icons
    position: absolute
    top: 0%
    left: 0%
.carouseldiv
    display: none
    width: 50%
    height: 100vh
#div1
    display: inline-block

    background-color: white
    position: relative
.titre1
    color: $blue
    font-size: 60px !important
    padding-top: 100px
    margin-left: 60px !important
    margin-right: 60px !important
.entrepreneurs
    color: $orange
    font-size: 60px
.main
    display: flex
    height: 100vh
    width: 100%
.underline
    width: 377px
    height: 40px
    position: absolute
    top: 24%
    left: 30%
.grey
    font-size: 30px
    color: grey
    margin-right: 60px
    margin-left: 60px
    margin-top: 40px
    margin-bottom: 40px
.flexcheck
    display: flex
    justify-content: flex-start
    margin-left: 60px
mat-icon
    color: $blue
.registerlink
    font-size: 30px
    color: $orange
#div2
    display: none
    position: relative
    background-color: white
.underline2
    width: 377px
    height: 40px
    position: absolute
    top: 24%
    left: 9%
#div3
    display: none
    position: relative
    background-color: white
.underline3
    width: 377px
    height: 40px
    position: absolute
    top: 31%
    left: 8%
.partenaires
    color: $blue
    font-size: 60px !important
    text-align: center
.partenairespan
    color: $orange
    font-size: 60px !important
.calculatrice
    width: 100px
    height: 100px
    position: absolute
    top: 104%
    left: 46%
    animation-name: animate, rotation
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: linear

@keyframes animate
    25%
        transform: translateY(-6.25px)
    75%
        transform: translateY(12.5px)
    100%
        transform: translateY(0)
.left
    transform: rotateY(180deg)
.left, .right
    position: absolute
    width: 50px
    height: 100px
    z-index: 10
.left
    top: 500px
    left: 0%
.right
    top: 500px
    right: 0%
.prestation

    height: 50vh
    width: 100%
    display: flex
    justify-content: space-evenly
.presta
    width: 25%
    height: 50vh
    border: 3px solid $blue
    border-radius: 20px
    box-shadow: 10px -5px 5px $blue
    z-index: 1
    position: relative
    background-color: white
    transform: scale(0)
    transition: all 0.5s
.prestatitre
    text-align: center
    color: $blue
    margin-top: 50px
    margin-bottom: 50px
    font-size: 60px !important
.trait
    width: 10%
    height: 20px
    background-color: $orange
    z-index: 0
    position: absolute
    transition: all 2s
    top: 186%
    left: 0%
.grandtrait
    width: 100%
.prestascale
    transform: scale(1)
.prestatitle
    text-align: center
    color: $orange
    margin-top: 40px
.mobilediv1
    display: none
.mobilediv2
    display: none
.mobilediv3
    display: none
.contact
    width: 40%
    height: 40vh
    box-shadow: 10px -5px 5px $blue
    border: 3px solid $blue
    margin: auto
    margin-top: 50px
    transform: scale(0)
    opacity: 0
    transition: all 0.5s
.contactA
    opacity: 1
    transform: scale(1)
.map
/*chiffres clés*/
.number
    width: 100%
    height: 17vh
    box-shadow: 0px -5px 5px $blue
    border-top: 3px solid $blue
    border-bottom: 3px solid $blue
    margin-top: 60px
    display: flex
    justify-content: space-evenly
.nombres
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
.titrenombres
    color: $blue
    font-size: 1.5rem
.mtitrenombres
    display: none
    color: $blue
    font-size: 1.5rem
.numspan
    color: $orange
    font-size: 1.5rem
.nombrecroi
    font-size: 2rem
/*reviews*/
.row 
  align-items: center
  flex-direction: row
  align-content: center
  display: flex
  justify-content: space-evenly
.reviews
    transform: translate(-100%)
    opacity: 0
    transition: all 0.5s
.reviewsA
    transform: translate(0)
    opacity: 1
.rowButton 
  margin: 10px
  display: flex
  justify-content: center
.card 
  background-color: white
  max-width: 300px
  height: 350px
  margin: 10px
  box-shadow: 10px -5px 5px $blue !important
  border-radius: 20px !important
mat-card-content 
  height: 200px
  text-align: justify
  overflow-y: auto
.avatar 
  margin-bottom: 15px
mat-card-title 
  margin-bottom: 5px
mat-card-header 
  display: flex
  flex-direction: column
  align-items: center
mat-card 
  display: block
  position: relative
  font-size: 20px
  text-align: center
  text-decoration: none
  color: #262626
  margin: 0 10px
  transition: 0.5s
mat-card span 
  position: absolute
#title 
  display: flex
  flex-direction: row
  justify-content: center
  h4 
    text-align: center
    font-size: 30px
    margin: 40px 0 40px 0
    color: $blue
.iconcolor
    color: #FFC600
.logogoogle
    width: 50px
    align-self: flex-end

.starlogo
    display: flex
    justify-content: space-evenly
    width: 100%
    height: 5vh
.stars
    height: 28px
    align-self: flex-end
/*tarifs*/
.tarifspages
    position: relative
    top: 0%
.tarifstitle
    color: $blue
    text-align: center
    margin-top: 60px
.tarifsspan
    color: $orange
.tarifcontainer
    width: 100%
    height: 100%
    display: flex
    margin-top: 60px
    border: 3px solid $blue
    box-shadow: 0px -5px 5px $blue !important
.maincontainer 
  width: 100%
  height: 100%
  height: calc(100vh - 150px)
.carousel 
  width: 50%
  display: flex
  position: relative
  background-color: white
.carouselitem 
  position: relative
  background-color: rgb(255, 255, 255)
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.7)
  width: 250px
  height: 350px
  padding: 20px
  pointer-events: none
.carouselitem img 
  width: 100%
  object-fit: cover
.carouselitem h2 
  width: 100%
  text-align: center
  text-transform: uppercase
  color: rgb(0, 0, 0)
  margin: 5px 0 10px 0
.carouselitem p 
  text-align: center
  color: rgb(0, 0, 0)
  font-size: medium
  white-space: normal
  line-height: normal
.main
    display: flex
    width: 100%
#descsocial
    width: 50%
    
#descjuridique
    width: 50%
    display: none
    
#desccomptable
    display: none
    width: 50%
    
.roate-button-container
    display: flex
    justify-content: space-evenly
    position: absolute
    top: 103%
    left: -25%
    z-index: 10
    width: 100%
.carouselcontainer
    width: 100%
    height: 100vh
    display: flex
.carouseldetail
    position: absolute
    top: 27%
    left: 135%
.underline4
    width: 377px
    height: 40px
    position: absolute
    top: 29%
    left: 58%   
.underline5
    width: 377px
    height: 40px
    position: absolute
    top: 37%
    left: 54%   
.underline6
    width: 208px
    height: 40px
    position: absolute
    top: 29%
    left: 81%   


/*footer*/
footer
    width: 100vw
    height: 38vh
    position: relative
    margin-top: 60px
    background-color: $blue
    display: flex
    justify-content: space-around
.footermenu
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
.footertext
    color: white
.footerlink
    text-decoration: none
    color: white
.footertarifs
    top: 16vh
.contactformulaire
    border-radius: 20px
    width: 40%
    height: 38vh
    box-shadow: 10px -5px 5px $blue
    border: 3px solid $blue
    position: relative
    background-color: white
    display: flex
    flex-direction: column
.titrecontact
    text-align: center
    margin-top: 30px
.contactformulaire2
    width: 100%
    align-self: center
    display: flex
    flex-direction: column
.mat-mdc-form-field-textarea-control
    resize: none
.contactbutton
    align-self: center
.buttonrecontainer
    display: flex
    justify-content: space-around
    

@media (max-width: 1738px)
    header
        background-image: url("/assets/img/logoBenefit.png")
    nav
        width: 30%
        justify-content: space evenly
    .logoanimé
        display: none
    .numtelephone
        display: none
    .underline
        display: none
    #imgdroite
        display: none
    .carouseldiv
        width: 100vw !important
    .underline2
        display: none
    .underline3
        display: none
    .underline4, .underline5, .underline6
        display: none
@media (max-width: 1570px)
    .mcarousel
        display: none
    #descsocial, #descjuridique, #desccomptable
        width: 100%
    .roate-button-container
        width: 100vw
        left: 0
        justify-content: space-around
    
@media (max-width: 1308px)
    #fonctionnement
        display: none
    .login
        display: none
    nav
        display: none
    .mmenu
        display: block
        position: relative
        top: 0%
    .mmenubutton
        border: none
        background-color: white
        position: relative
        top: 11%
    .mlogin
        color: $orange
    .orange
        display: none
    .cookiebutton
        width: 30% !important
    .buttoncontainer
        justify-content: center
    .avertissement
        font-size: 12px
    .desktopsection
        display: none
    .mobilesection
        margin-top: 60px
        width: 300vw
        height: 100vh
        position: relative
        left: 0%   
    .mobilediv1
        background-color: white
        display: inline-block
        width: 80vw
        border: 3px solid $blue
        position: relative
        left: 10vw
        height: 100vh
        transition: all 0.5s
        box-shadow: 10px -5px 5px $blue
        border-radius: 20px
    .mobilediv2
        background-color: white
        display: inline-block
        width: 80vw
        border: 3px solid $blue
        position: relative
        left: 30vw
        height: 100vh
        transition: all 0.5s
        box-shadow: 10px -5px 5px $blue
        border-radius: 20px
    .mobilediv3
        background-color: white
        display: inline-block
        width: 80vw
        border: 3px solid $blue
        position: relative
        left: 50vw
        height: 100vh
        box-shadow: 10px -5px 5px $blue
        transition: all 0.5s
        border-radius: 20px
    footer
        bottom: -236%
    .titre1, .entrepreneurs
        font-size: 40px
        padding: 0
        
@media (max-width: 860px)
    .telbutton
        position: relative
        right: 2vw
        top: -10vh
    .calculatrice
        display: none
    
@media (max-width: 690px)
    .titre1
        font-size: 40px !important
    .telbutton
        right: 29vw
    header
        background-size: 75%
    .entrepreneurs
        font-size: 40px !important
    .calculatrice
        display: none
    .avertissement
        font-size: 10px
    .logoEC
        display: none
    .bandeau
        display: block
        text-align: center
        color: $orange
    .grey
        font-size: 18px
    .registerlink
        font-size: 18px
    .flag
        display: none
@media (max-width: 612px)
    .flexcheck2
        margin-left: 0 !important
    .mtitrenombres
        display: block
    .titrenombres
        display: none
    mat-card
        display: none !important
    .googletitle
        display: none
    .apropos
        display: none
    .contactformulaire
        display: none
    .mobilediv1, .mobilediv2, .mobilediv3
        height: 75vh
@media (max-width: 453px)
    .grey
        margin-top: 0
        margin-bottom: 0
    .carouseldiv
        margin-top: 200px
    



        

    

    

    




    
	

	








   
    





    
    
