<main class="main">
    <img src="/assets/img/arrow.png" alt="bouton carousel" class="right" (click)="switch()" (click)="switchInc()">
    <img src="/assets/img/arrow.png" alt="bouton carousel" class="left" (click)="backSwitch()" (click)="backSwitchInc()">
    <div class="carouseldiv" id="div1">
        <h1 class="titre1">Benefit, l'expert comptable <span class="entrepreneurs">pour les entrepreneurs</span></h1>
        <img class="underline" src="/assets/img/underline-marker.webp" alt="souligné rouge">
        <p class="grey">Recevez les conseils de nos experts-comptables et gérez votre comptabilité . Optez pour la simplicité avec Benefit. </p>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>xxx conseillers comptables à votre disposition</p>
        </div>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>cabinet membre de l'Ordre des Experts-Comptables</p>
        </div>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>Des experts-comptables de proximité</p>
        </div>
        <p class="grey">Afin d'obtenir un devis gratuit inscrivez vous <a class="registerlink" [routerLink]="['/register']">ici</a> ou contactez nous par téléphone au<a class="registerlink" href="tel:+04525252"> 0452525252</a> </p>
    </div>
    <div class="carouseldiv" id="div2">
        <h1 class="titre1">Avec Benefit créez facilement <span class="entrepreneurs">votre entreprise</span></h1>
        <img class="underline2" src="/assets/img/underline-marker.webp" alt="souligné rouge">
        <p class="grey">Créez votre entreprise en toute serenité, accompagné par nos experts-comptables </p>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>Nous vous conseillons la forme juridique adéquate</p>
        </div>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>nous prenons en charge toutes les démarches administratives</p>
        </div> 
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>Votre entreprise clefs en main !</p>
        </div>
        <p class="grey">Afin d'obtenir un devis gratuit inscrivez vous <a class="registerlink" [routerLink]="['/register']">ici</a> ou contactez nous par téléphone au<a class="registerlink" href="tel:+04525252"> 0452525252</a> </p>
    </div>
    <div class="carouseldiv" id="div3"> 
        <h1 class="titre1">Benefit vous offre de nombreuses prestations <span class="entrepreneurs">personnalisées</span></h1>
        <img class="underline3" src="/assets/img/underline-marker.webp" alt="souligné rouge">
        <p class="grey">Petite ou grande entreprise nous saurons adapter notre offre à vos besoins </p>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>Des tarifs évolutifs</p>
        </div>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>Une application de facturation intégrée</p>
        </div>
        <div class="flexcheck">
            <mat-icon>check_circle</mat-icon>
            <p>une écoute et des conseils permanents</p>
        </div>
        <p class="grey">Afin d'obtenir un devis gratuit inscrivez vous <a class="registerlink" [routerLink]="['/register']">ici</a> ou contactez nous par téléphone au<a class="registerlink" href="tel:+04525252"> 0452525252</a> </p>
    </div> 
    <div class="imgdroite" id="imgdroite">
    </div>  
</main>
<img class="calculatrice" src="/assets/img/logobleu.png" alt="logo benefit bleu">

<section>
    <h2 class="partenaires">Découvrez nos <span class="partenairespan">partenaires</span></h2>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="desktopsection">
    <h2 class="prestatitre">Nos prestations</h2>
    <div class="trait"></div>
    <div class="prestation">
        <div class="base presta">
            <h2 class="prestatitle">Basic</h2>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>
            </div>
        </div>
        <div class="medium presta">
            <h2 class="prestatitle">Standard</h2>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>
            </div>
        </div>
        <div class="premium presta">
            <h2 class="prestatitle">Premium</h2>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>
            </div>
        </div>
    </div>
</section>
    <section class="mobilesection">
        <div class="mobilediv1" id="mobilediv1">
            <h2 class="prestatitle">standard</h2>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>
            </div>
        </div>
        <div class="mobilediv2" id="mobilediv2">
            <h2 class="prestatitle">gold</h2>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>
            </div>
        </div>
        <div class="mobilediv3" id="mobilediv3">
            <h2 class="prestatitle">Premium</h2>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Nous vous conseillons la forme juridique adéquate</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>nous prenons en charge toutes les démarches administratives</p>
            </div>
            <div class="flexcheck flexcheck2">
                <mat-icon>check_circle</mat-icon>
                <p>Votre entreprise clefs en main !</p>0
            </div>
        </div>
    </section>
    <section class="number">
        <div class="nombres">
            <p class="titrenombres"><span class="numspan">Des dizaines </span>de dossiers traités actuellement</p>
            <p class="mtitrenombres">Dossiers</p>
            <div class="nombrecroi" id="activites">0</div>
        </div>
        <div class="nombres">
            <p class="titrenombres"><span class="numspan">Des centaines </span>de clients ont fait confiance a Benefit </p>
            <p class="mtitrenombres">Clients</p>
            <div class="nombrecroi" id="clients">0</div>
        </div>
        <div class="nombres">
            <p class="titrenombres"><span class="numspan">De nombreuses opérations </span>avec Benefit</p>
            <p class="mtitrenombres">Opérations</p>
            <div class="nombrecroi" id="confiance">0</div>
        </div>
    </section>
    <div id="googleReviews"></div>
    <section class='reviews'>
    <div id="title">
      <h4 class="googletitle">Avis Google</h4>
    </div>
    <div id="reviews" class="row">
      <mat-card *ngFor="let review of reviews" class="card">
        <mat-card-header>
          <div class="avatar" mat-card-avatar>
            <img [src]="review.profile_photo_url" alt="Avatar" height="50" width="50" referrerpolicy="no-referrer" />
          </div>
          <mat-card-title>{{ review.author_name }}</mat-card-title>
          <h6>{{ review.relative_time_description }}</h6>
        </mat-card-header>
        <mat-card-content>
          <p>{{ review.text }}</p>
        </mat-card-content>
        <div class="starlogo">
        <div class="stars">
            <mat-icon class="iconcolor" *ngFor="let item of createRange(review.rating)">grade</mat-icon>
        </div>
        <img class="logogoogle" src="/assets/img/Google-Logo.png" alt="logo google">
        </div>
      </mat-card>
    </div>
    <div class="rowButton">
      <a mat-raised-button href="https://www.google.com/maps/place/BENEFIT+Expert+comptable+V%C3%A9nissieux/@45.7077831,4.8743004,15z/data=!4m7!3m6!1s0x0:0x620172c8c20bdf31!8m2!3d45.7077831!4d4.8743004!9m1!1b1" target="_blank">Voir tous les avis Google</a>
    </div>
    </section>
    <section class="apropos">
        <div class="contact" id="map">
        </div>
    </section>
    <footer class="homefooter">
        <section class="footermenu">
          <a class="footertext" href="#">Connexion</a>
          <a class="footertext" href="#">Inscription</a>
          <a class="footertext" href="#">Tarifs</a>
          <a class="footertext" href="#">Solutions</a>
          <a class="footertext" href="#">Fonctionnalités</a>
          <a class="footertext" href="#">A propos</a>
        </section>
        <section class="contactformulaire">
            <h2 class="titrecontact">Contactez nous</h2>
            <form class="contactformulaire2"   #registerform5 = "ngForm" name="form5">
                <mat-form-field appearance="fill" >
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)] = "contact.email" id="text-area"  name="nom" required>
                </mat-form-field>
                <mat-form-field appearance="fill"  >
                  <mat-label >Message</mat-label >
                  <textarea matInput [(ngModel)] = "contact.message"   name="prenom" required ></textarea>
                </mat-form-field>
                <div class="buttonrecontainer">
                    <button class="submitsiret cookiebutton contactbutton"[ngStyle]="{'opacity': (registerform5.form.invalid || recaptcha === '' )? '0.5' : '1'}" [disabled]="(registerform5.form.invalid) || recaptcha ===''?true: false " (click)="contacter(contact,recaptcha)">Envoyer</button>
                    <div>
        
                        <re-captcha (resolved)="resolved($event)"
                              data-expired-callback="resetToken"
                              siteKey="6Ld4jTIjAAAAAOpgYPONE64JrKuaP7Sc8sHkZYEk" required name="recaptcha">  
                        </re-captcha>
                      </div>
                </div>
            </form>
        </section>
        <section class="address footermenu footertext">
            <p>Benefit</p>
            <p>1, rue Jules Serval</p>
            <p>69280 Venissieux</p>
            <a class="footerlink" href="tel:+0425252525">04 25 25 25 25</a>
            <p>benefit@benefit.com</p>
        </section>
      </footer>
