<main class="container">
  <form class="registerform rform"   #registerform = "ngForm" name="form" >
    <mat-form-field appearance="fill" class="formregister" minlength="14" maxlength="14" required>
        <mat-label>Numero de SIRET ou adresse email</mat-label>
        <input matInput [(ngModel)] = "siret" [ngModelOptions]="{standalone: true}">
        <small [ngClass]="invalid === true ? 'display': 'none'">numero de siret invalide</small>
      <small [ngClass]="numbersOnly === true ? 'display': 'none'">le numero de siret doit comporter 14 chiffres</small>
      </mat-form-field>
      <button (click)="getSiren(siret)" class="submitsiret" >Soumettre</button>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label >Numero de SIREN</mat-label >
        <input matInput [(ngModel)] = "societe.SIREN" name="siren"  readonly="true">
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Dénomination</mat-label>
        <input matInput [(ngModel)] = "societe.nom" name="nom" readonly="true">
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)] = "societe.adresse" name="adresse" [readonly]="addressChange? 'false': 'true' " required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Nom du Dirigeant</mat-label>
        <input matInput [(ngModel)] = "societe.nomdirigeant" name="nomdirigeant" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Prenom du Dirigeant</mat-label>
        <input matInput [(ngModel)] = "societe.prenomdirigeant" name="prenomdirigeant" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>email</mat-label>
        <input type="email" matInput [(ngModel)] = "societe.email" name="email" required pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$" #email="ngModel">
        <small *ngIf="registerform.form.errors?.['pattern']">veuillez entrer une adresse email valide</small>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput [(ngModel)] = "societe.password" name="password" required (keyup) = passValidation()>
      </mat-form-field>
      <ul *ngIf="siretok">
        <li [ngClass]="eightValidate?'green': 'red'">votre mot de passe doit faire au moins 8 caractères</li>
          <li [ngClass]="specValidate?'green': 'red'">votre mot de passe doit contenir un caractère spécial</li>
          <li [ngClass]="minValidate?'green': 'red'" >votre mot de passe doit contenir une minuscule</li>
          <li [ngClass]="majValidate?'green': 'red'">votre mot de passe doit contenir une majuscule</li>
        </ul>
      <mat-form-field appearance="fill" class="formregister" *ngIf="siretok">
        <mat-label>Confirmation de mot de passe</mat-label>
        <input type="password" matInput [(ngModel)] = "societe.passwordconfirm" name="confirmpassword" required (keyup) = 'confirmPassword()' (keyup) = passValidation()>
        <small *ngIf="!passConfirmed">vous devez confirmer votre mot de passe</small>
      </mat-form-field>
      <!--<input type="file" class="file-input" multiple accept="image/pdf, image/png, image/jpeg"
       (change)="onFileSelected($event)" #fileUpload >

      <div class="file-upload" *ngIf="siretok">{{fileName || "Veuillez ajouter votre Kbis.(facultatif)"}}

        <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
      </div>
      <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate"
                          [value]="uploadProgress" *ngIf="uploadProgress">
      
        </mat-progress-bar>
      
        <mat-icon class="cancel-upload" 
                  *ngIf="uploadProgress">delete_forever</mat-icon>
      
      </div>-->
      <button [ngStyle]="{'opacity': (!registerReady || registerform.form.invalid || recaptcha === '' )? '0.5' : '1'}" [disabled]="(registerform.form.invalid||!registerReady||recaptcha === '')? true: false" (click)="register(transData)" class="submitsiret" *ngIf="siretok">Inscription</button>
      <div>
        
        <re-captcha (resolved)="resolved($event)"
              data-expired-callback="resetToken"
              siteKey="6Ld4jTIjAAAAAOpgYPONE64JrKuaP7Sc8sHkZYEk" required name="recaptcha">  
        </re-captcha>
      </div>
    </form>
      
</main>