<section class="containercharte">
<a [routerLink]="['/']"><button class="retour">Retour</button></a>
<h1 class="orange titrergpd">Charte relative à la protection des données
à caractère personnel des utilisateurs</h1>
<h2>1. Définition d’une donnée à caractère personnel :</h2>

<p>Selon la loi, une donnée personnelle est toute donnée qui permet d’identifier une personne physique, de façon directe, ou indirecte.<br>
Exemples d’identifications directe :<br>
Un nom, un prénom, une photo d’un visage, une vidéo montrant une personne, un extrait sonore de la voix d’une personne.<br>
Exemple d’identification indirecte :<br>
Un numéro de sécurité sociale, un numéro d’employé, un numéro de téléphone.<br></p>
<h2>2. Objet de la présente charte</h2>

<p>Afin de prendre en compte les exigences liés au Règlement Général sur la Protection des Données selon la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, l’utilisateur accepte le traitement des données décrite dans cette présente charte.</p>
<h2>3. Identité du responsable des données</h2>

<p>Le Cabinet comptable BENEFIT dont le siège social est situé 1 RUE JULES SERVAL 69200 VENISSIEUX agit selon les traitements de données personnelles qu’il effectue en qualité de responsable du traitement, de responsable conjoint ou de sous-traitant.</p>
<h2>4. Délégué à la protection des données</h2>

<p>Pour toute information concernant vos données personnelles, veuillez adresser un courrier au Délégué à la Protection des Données (DPO) à l’adresse suivante: </p>
<h2>5. Les données à caractère personnel que nous collectons</h2>

<br>

    Données d’identification: Nom, prénom, photos, carte d’identité, mots de passe, profession, entreprise (Nom, Raison Social, SIRET).<br>
    Données d’authentification: Nom d’utilisateur, mots de passe, pays de connexion, adresse IP, logs, User ID<br>
    Données professionnelles et fiscales: déclaration de TVA, cartes de crédit<br>
    Données bancaires: compte bancaire <br>

<p>La collecte de certaines données à caractère personnel revêt une obligation légale de notre part et nous ne pouvons procéder à leur suppression.</p>

<p>La collecte des données est nécessaire aux fins d'exécution du contrat de nos services.</p>

Ces données à caractère personnel nous permettent d’assurer ces finalités :<br>

    Garantir votre accès et l’utilisation des services dans notre application My Clémentine<br>
    Effectuer des opérations à la gestion de votre comptabilité concernant des factures d’achats, factures de ventes, notes de frais, indemnités kilométriques.<br>
    Etablir un bilan comptable<br>
    Assurer la synchronisation de vos comptes bancaires dans l’application My Clémentine<br>
    Adresser des lettres d’information et des messages promotionnels. Nous vous offrons la possibilité de refuser la collecte de ces données en nous adressant un message à cette adresse : donnees@compta-clementine.fr <br>

<h2>6. Les destinataires des données collectées</h2>

<p>Le traitement de vos données sera accessible par le personnel de notre société ainsi que par les services de contrôle compétents et de nos sous-traitants.</p>

Dans le cadre de l’utilisation de nos services, nous sommes amenés à transférer vos données aux parties suivantes :<br>

    Prestataires de services permettant de réaliser des opérations<br>
    Organismes bancaires<br>
    Prestataire d’hébergement des données<br>
    Outil d’analyse de comportement utilisateur<br>
    Outil de gestion d’erreur et bug logiciels<br>
    Outil de gestion d’erreur et bug logiciels<br>
    Outil de communication interne<br>
    Outil d’analyse statistique et d’amélioration de la fréquentation de nos services<br>

<p>Vos données à caractère personnel peuvent être transmises à des organismes publics tels que des officiers ministériels ou des services de recouvrement de créance.</p>

<p>Nous pouvons être amenés à vous connecter à votre espace Google Drive via un écran d'authentification où vous devrez saisir votre adresse mail et votre mot de passe, pour profiter de notre fonctionnalité d'importation de fichier depuis Google Drive. Ces données ne sont pas stockées sur notre site. Nous pouvons également vous demander l'accès en lecture de vos fichiers Google Drive et leur téléchargement pour un stockage sur notre site tel que défini dans les présentes conditions.</p>
<h2>7. Cession des données à caractère personnel</h2>

<p>Le Cabinet comptable EXPERTISE CHOIX B ne divulguera, cédera, louera ou transmettra jamais vos données personnelles à des tiers autres que ceux mentionnés dans cette présente charte.</p>
<h2>8. Durée de conservation des données</h2>
<h3>1. Données relatives à la gestion commerciale :</h3>

<p>Afin de vous proposer les meilleures offres commerciales et d’améliorer la qualité de nos services, nous effectuons des traitements à partir des données prospects. Ses données sont conservées pendant la durée nécessaire à la gestion de notre relation commerciale.</p>

<p>Nous pouvons conserver les données à caractère personnel dans le cadre d’opération de prospection pendant une durée de 3 ans à partir de la fin de la relation commerciale.</p>
<h3>2. Données relatives aux pièces d’identités :</h3>

<p>Afin de garantir votre droit d’accès et de rectification, nous conservons dans le cadre de l’article 9 du code pénal vos données concernant vos pièces d’identités pendant 1 an.</p>
<h2>9. Sécurité des données</h2>

<p>Nous tenons à jour régulièrement nos systèmes afin de garantir un haut niveau de protection de vos données et d’anticiper d’éventuelles intrusions. Toutefois, nous ne pouvons pas garantir une sécurité à 100% des données que vous nous transmettez via internet.</p>

<p>Nous mettons en oeuvre les moyens suivants :</p>

    La transmission de vos données de façon cryptées (FTP, HTTPS)<br>
    Une organisation avec des processus internes<br>
    Le stockage de vos données en physique <br>

<h2>10. Hébergement</h2>

<p>Nous nous assurons que vos données qui sont hébergées par notre prestataire Hostinger soient en conformité avec la RGPD :</p>

    Chiffrement des données<br>
    Contrôle d’accès réglementé<br>
    Qualité dans la conception du système d’hébergement<br>
    Hébergement de vos données au sein de l’union européenne<br> 

<h2>11. Cookies</h2>
<p>Définition :</p>

<p>Le terme cookie désigne différents traceurs déposés dans votre navigateur suite à la consultation d’un site internet. Un fichier texte reprenant les informations de navigation du site internet est généré.</p>

<p>Différents types de cookies peuvent être créés lors de la consultation d’un site :</p>

    Cookies techniques<br>
    Cookies provenant de plateforme de réseaux sociaux<br>
    Cookies publicitaires<br>
    Cookies provenant de Google Analytics<br>

<p>Dans le cadre de l’utilisation de nos services :</p>

<p>Le dépôt d’un cookie est soumis à votre consentement, ils permettent d’améliorer l’utilisation de nos services en collectant des informations sur votre comportement de navigation et vos préférences que vous aurez exprimés lors de votre visite sur le site www.clementine.fr</p>

Liste des cookies générés :<br>

    
    Google Tag Manager<br>
    Google Analytics <br>

<p>Nous utilisons également des cookies à des fins d’améliorations techniques :</p>

    Hotjar
    Segment
    Sentry 

<p>l'article 11 prévoit une durée de conservation maximale des cookies de 13 mois.</p>
<h2>12. Droit d’accès sur vos données</h2>

<p>Pour faire exercer votre droit d’accès sur vos données, la demande doit être validée par le responsable du traitement avec vérification de votre identité. Vous disposez dès lors d’un droit d’accès, de modification, de limitation et suppression de vos données personnelles. Vous pouvez faire votre demande à l’adresse suivante : donnees@compta-clementine.fr ou par courrier postal à 9 AVENUE DU RHIN 54520 LAXOU</p>
<h2>13. Droit sur la modification de vos données</h2>

<p>Vous disposez d’un droit à la modification de vos données personnelles si vous souhaitez nous faire part d’une donnée en notre possession qui serait incorrecte. Dans ce cas, veuillez nous contacter à l’adresse suivante :
donnees@compta-clementine.fr ou par courrier postal à 9 AVENUE DU RHIN 54520 LAXOU</p>
<h2>14. Droit sur la suppression de vos données</h2>

<p>Vous disposez d’un droit à la suppression de vos données personnelles. Cependant pour que votre demande soit recevable, les informations à supprimer ne doivent pas revêtir d’une obligation légale de notre part (cf données d’obligations légales). Vous pouvez formuler votre demande ici :
donnees@compta-clementine.fr ou par courrier postal à 9 AVENUE DU RHIN 54520 LAXOU</p>
<h2>15. Droit sur la portabilité de vos données</h2>

<p>Vous disposez d’un droit à la portabilité de vos données personnelles pour récupérer une partie de vos données dans un format lisible informatiquement :
donnees@compta-clementine.fr ou par courrier postal à 9 AVENUE DU RHIN 54520 LAXOU</p>
<h2>16. Droit à l’opposition du traitement de vos données</h2>

<p>Vous disposez d’un droit à l’opposition de vos données personnelles. Cependant comme pour le droit à la suppression des données, c’est à dire pour motif légitime nous imposant de traiter vos données, nous ne pourrons répondre favorablement à votre demande. Vous pouvez exercer ce droit à l’adresse suivante :
donnees@compta-clementine.fr ou par courrier postal à 9 AVENUE DU RHIN 54520 LAXOU</p>
<h2>17. Droit à la limitation du traitement</h2>

<p>Vous disposez d’un droit à la limitation du traitement de vos données à caractère personnel lorsque :</p>

    Vous contester l’exactitude de vos données<br>
    Le traitement de vos données est illicite<br>
    Nous n’avons plus l’utilité du traitement de vos données mais vous souhaitez en conserver une partie
    En période de vérification pour des motifs légitimes <br>

<h2>18. Introduction d’une réclamation concernant vos données personnelles</h2>

<p>Dans la mesure où EXPERTISE CHOIX B ne satisfait pas à ses obligations sur vos données personnelles, vous avez la possibilité de déposer une réclamation auprès d’une autorité de contrôle (CNIL).</p>
<h2>19. Date d’entrée en vigueur de la présente charte</h2>

<p>La présente charte est entrée en vigueur le 26 juin 2020.</p>
</section>
